<h1>Add a Logo</h1>
<%= form_for "/logos" do %>
  <div>
    <p>
      <%= f.label :team %><br>
      <%= f.text_field :team %>
    </p>
  </div>
    <div>
      <p>
        <%= f.label :conference %><br>
        <%= f.text_field :conference %>
      </p>
    </div>
    <div>
      <p>
        <%= f.label :url %><br>
        <%= f.text_field :url %>
      </p>
    </div>
    <div>
      <p>
        <%= f.submit "Save" %>
      </p>
    </div>

<% end %>
